<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Megabyte Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Megabyte Dashboard</title>
</head>
<body>
<div class="container">
    <header>
        <h1>Megabyte Coffee Shop</h1>
        <p>Daily Sales Dashboard</p>
        <nav>
        <a href="/">Home </a>
        <a href="/monday">Monday </a>
        <a href="/tuesday">Tuesday </a>
        <a href="/wednesday">Wednesday </a>
        <a href="/thursday">Thursday</a>
        <a href="/friday">Friday </a>
        <a href="/saturday">Saturday </a>
        <a href="/sunday">Sunday </a>
    </nav>
</header>
    
<img src="static/images/logo.png" alt="Logo" class="left-image" style="width:200px; height:175px;">
<img src="static/images/logo.png" alt="Logo" class="right-image" style="width:200px; height:175px;">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>