{% extends 'base.html'%}

{% block content %}
<form action="/add" method="post">
    <label>Input Data</label>
    <div>
    <input type="text" name="total_income"placeholder="Total Income Made">
    <input type="text" name="highest_spend"placeholder="Enter Highest Spend">
    <input type="text" name="best_selling_item"placeholder="Best Selling Item">
    <input type="text" name="worst_selling_item"placeholder="Worst Selling Item">
    <input type="text" name="mvp_staff_member"placeholder="MVP Staff Member">
    <input type="text" name="average_basket_spend"placeholder="Averange Basket Spend">
</div>
<button type="submit">Enter Data</button>
</form>
<!-- <h2>Total Income: {{ total_income }}</h2>
    <h2>Highest Spend: {{ highest_spend }}</h2>
    <h2>Best Selling Item: {{ best_selling_item[0] if best_selling_item else 'N/A' }}</h2>
    <h2>Worst Selling Item: {{ worst_selling_item[0] if worst_selling_item else 'N/A' }}</h2>
    <h2>MVP Staff Member: {{ mvp_staff_member[0] if mvp_staff_member else 'N/A' }}</h2>
    <h2>Average Basket Spend: {{ average_basket_spend }}</h2> -->
{% endblock %}