{% extends 'base.html' %}

{% block content %}
    <h2>Sunday</h2>
    {% if figures %}
        <p>Total Income: {{ figures.total_income }}</p>
        <p>Highest Spend: {{ figures.highest_spend }}</p>
        <p>Best Selling Item: {{ figures.best_selling_item.title() }}</p>
        <p>Worst Selling Item: {{ figures.worst_selling_item.title() }}</p>
        <p>MVP Staff Member: {{ figures.mvp_staff_member.title() }}</p>
        <p>Average Basket Spend: {{ figures.average_basket_spend }}</p>
        <p>No data available for Sunday.</p>
    {% endif %}

{% endblock %}